.Component11{
    width: 80%;
    height: 65vh;
    background: #fff;
    margin: 0px 140px;
    margin-top: -50px;
    /* background: blue; */
}
.Container{
    text-align: center;
    padding-top: 70px;
}
.imgg11{
    width: '15%';
    height: 400px;
}