
.rentbody{
    width:100%;
    /* height:100vh; */
    background:  #ecdccb;
    padding-top:20px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rowww{
    padding-top:50px;
    width:90%;
    margin: auto;
    display:flex;
    justify-content: center;
    align-items:center;
    gap:10px;
   
}
.boxxx{
    width:320px;
    height: 430px;
    background:#fff;
    border-radius:20px;
   

}
.boxxx img{
    width:250px;
    padding:15px;
    

}
.boxxx h3{
    font-size:25px;
    padding-top:20px;
    color:#545454;
    font-weight: 780;
    padding-right: 20px;
    padding-left: 20px;
  

}
.boxxx p{
    color:#686666;
    padding:20px;
    line-height:25px;
    font-weight: 500;
}
