body{
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: -100px;
}
.btn{
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
    border-radius: 10%;
    background-color: orange;
    color: white;
    padding: 5px;
    border: 1px solid white;
    font-size: x-large;
    
}